= render 'layouts/in_app_header'
.index-container
  %h3 
    Your Document Dashboard,
    =@user.name.split.first

  %p
    display by (project, date)
  %p
    sort date by (newest, oldest)
  %ul.document-list
    - @documents.each do |document|
      %li.document-li
        %p.document-information
          Project:
          %br
          = truncate(document.project_name, :length => 20)
        %p.document-information
          Document:
          %br
          = truncate(document.document_name, :length => 20)
        = link_to (image_tag "Folder.png", class: "folder-pic"), document_path(document.id)
        = link_to (image_tag "Settings.png", class: "settings-pic"), edit_document_path(document.id)
  %hr.index-hr
  = link_to "New Document", new_document_path
  |
  = link_to "Archive or Delete Documents"
  |
  = link_to "Archive or Delete DocumentVersions"