= form_for @document do |f|
  - if @document.errors.any?
    #error_explanation
      %h2= "#{pluralize(@document.errors.count, "error")} prohibited this document from being saved:"
      %ul
        - @document.errors.full_messages.each do |msg|
          %li= msg

  %p
    = f.hidden_field :user_id, :value => current_user.id
  %p
    = f.label :project_name
    = f.text_field :project_name
  %p
    = f.label :document_name
    = f.text_field :document_name
  %p
    = f.label :access_link
    = f.text_field :access_link
  .actions
    = f.submit 'Save', class: "btn crud-btn"
