= form_for @document_version, :html => {:multipart => true} do |f|
  - if @document_version.errors.any?
    #error_explanation
      %h2= "#{pluralize(@document_version.errors.count, "error")} prohibited this document_version from being saved:"
      %ul
        - @document_version.errors.full_messages.each do |msg|
          %li= msg
  %p
    = f.hidden_field :document_id, value: @document_id
  %p
    = f.label :name
    = f.text_field :name
  %p
    = f.label :access_link
    = f.text_field :access_link
  %p
    = f.file_field :file
  %p
    = f.submit 'Save'
