.index-container
  = render 'layouts/in_app_header'
  .name-and-version-bar
    .anno-document-name
      = @document.document_name
      %span.version-name
        |
        = @document_version.name
    .version-drop-down
      View Other Versions:
      = select_tag(:city_id, options_for_select([['Lisbon', 1], ['Madrid', 2]]))
      Go
  .tool-bar
    .tools
      %h3
        Tools go here!
    .comments
      %h3 Comments
  .image-and-comments
    .image-container
      .image
        = image_tag @document_version.file
        - @annotations.each do |annotation_object|
          %div{class: "black", style: "left:#{annotation_object.xcoor}px; top: #{annotation_object.ycoor}px;"}
            %p= annotation_object.number
    .comments
      %ul.annotation-list
        - @annotations.each do |annotation_object|
          %li{class: "#{annotation_object.number}"} 
            = annotation_object.number 
            = annotation_object.content 
            %br
            %a{href: '#', id: "#{annotation_object.number}", class: "#{annotation_object.number}"} Reply
            | 
            %a{id:"delete", class: "#{annotation_object.number}", href: '#'} Delete
  .tool-bar
    %h3.export-links
      %button Export Comments
      %button Export Markup 
      %button Export Both
  %hr.index-hr
  .footer-nav
    = link_to 'Back to Document Versions', document_path(@document.id)
    \|
    = link_to 'Back to Dashbaord', user_path(current_user.id)


/ <script type="text/javascript">
/   var document_version_id = "<%= @document_version_id %>" 
/   var annotation_count = <%= @annotation_count %>
/ </script>