%p#notice= notice

%p
  %b Document:
  = @document_version.document_id
%p
  %b Name:
  = @document_version.name

= link_to 'Edit', edit_document_version_path(@document_version)
\|
= link_to 'Back', document_versions_path
